<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" th:href="@{/static/admin.css}"/>
    <title>Hello, world!</title>
</head>
<body>
<header th:insert="blocks/admin-header.html :: header"></header>
<div class="d-flex flex-row">
    <div th:insert="blocks/admin-navigation.html :: navigation"></div>
    <main role="main" class="container-fluid">
        <div class="container-fluid p-3 border bg-light rounded">
            <div class="d-flex justify-content-between">
                <div>
                    <h4>Products group</h4>
                </div>
                <div>
                    <a th:href="@{/admin/product-groups/create}"><button type="button" class="btn btn-primary">Add</button></a>
                </div>
            </div>
            <div th:if="${error}" class="alert alert-danger" role="alert" th:utext="${error}"></div>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="index-col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="group: ${groups}">
                    <th scope="row" th:text="${group.getId()}">1</th>
                    <td th:text="${group.getName()}">Username</td>
                    <td class="button-column"><a th:href="${'/admin/product-groups/edit/' + group.getId()}">edit</a></td>
                    <td class="button-column">
                        <form th:method="post">
                            <div class="form-group">
                                <input type="hidden" id="deleteId" name="deleteId" th:value="${group.getId()}">
                            </div>
                            <button type="submit" class="btn btn-primary">delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>